
<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>fe-test</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='stylesheet' type='text/css' href='../public/styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- //// -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- //// -->

  <!-- Mobile Specific Metas -->


</head>
<body>
<!--<div>Front end test of sorts</div>-->

<div class='title'>Form title</div>
<div class='wrapper'>
  <div class='edge'></div>
  <div class='form'>
      <div class= 'input-border'>
        <input type="text" id="first-name"  class='input' placeholder="First name">
      </div>
  </div>
  <div class= 'form'>
      <div class= 'input-border'>
        <input type="text" id="last-name"  class='input'placeholder="Last name">
      </div>
  </div>
  <div class='edge'></div>
</div>
<div class='wrapper'>
  <div class='edge'></div>
  <div class= 'form'>
      <div class= 'input-border'>
        <input type="email" id="email" class='input' placeholder="Email address">
      </div>
  </div>
  <div class= 'form'>
    <div class= 'input-border'>
      <select class = 'input'>
        <option value="" selected disabled>City</option>
        <option value="Auckland">Auckland</option>
        <option value="Dunedin">Dunedin</option>
        <option value="Hamilton">Hamilton</option>
        <option value="Wellington">Wellington</option>
      </select>
    </div>
  </div>
  <div class='edge'></div>
</div>
<div>
<div class='submit'>
    <div id="submit" class="submit-button" type="submit">
      <div class='submit-text'>Submit</div>
    </div>
</div>

<div class="border"><hr></div>

<div class="image-header-wrapper">
    <div class='edge'></div>
    <div class="image-header">
      <div class="image">
        <img src="../public/styles/pink_sunset.png" alt="Pink and Purple sunset"  >
      </div>
      <div class="image-header-heading"> Pink and Purple Sunset</div>
      <div class="image-header-story">Pie wafer topping chocolate cake. <br> Brownie sweet sugar plum sugar plum.</div>
      <div class="link">
        <a href="https://wallpapercave.com/w/AUCdJPq">Go to the sunset</a>
      </div>
    </div>
    <div class="image-header">
      <div class = 'image'>
        <img src="../public/styles/pink_sunset.png" alt="Sublime Trees" >
      </div>
      <div class="image-header-heading"> Sublime Trees</div>
      <div class="image-header-story">Pie wafer topping chocolate cake. <br> Brownie sweet sugar plum sugar plum.</div>
      <div class="link">
          <a href="https://photodune.net/item/palm-trees-and-colorful-sunset-antigua/21228482">View some more</a>
      </div>
    </div>
    <div class='edge'></div>
</div>
<div class="footer-wrapper">
  <div class='edge'></div>
  <div class='footer-left'>
    <div class='media'>
        <img src="../public/styles/facebook.png">
      </div>
    <div class='media'>
      <img src="../public/styles/instagram.png">
    </div>
    <div class='media'>
      <img src="../public/styles/youtube.png">
    </div>
    <div class = "media-content"> Pie wafer topping chocolate cake. Brownie sweet sugar plum sugar plum tootsie  </div>
  </div>

  <div class='footer-right'>
    <div class = 'address'>
      <div class = "contact"> Main Office </div>
      <div class = "contact"> 6235 Thalia Terrace Apt. 695 </div>
      <div class = "contact"> Frederikfert </div>
      <div class = "contact"> Jamaica </div>
    </div>
    <div class = 'contact-info'>
      <div class = "contact"> Contact </div>
      <div class = "contact"> 735-412-6378 </div>
      <div class = "email-link"> myname@gmail.com</div>
    </div>
  </div>
  <div class='edge'></div>
</div>
</body>
