
<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>fe-test</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- //// -->
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<!-- //// -->

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div>Front end test of sorts</div>

<div>Form title</div>
<form action="/form" method="post">
  <input type="text" id="first-name" placeholder="First name">

  <input type="text" id="last-name" placeholder="Last name">

  <input type="email" id="email" placeholder="Email address">

  <select id="city">
    <option value="" selected disabled>City</option>
    <option value="Auckland">Auckland</option>
    <option value="Dunedin">Dunedin</option>
    <option value="Hamilton">Hamilton</option>
    <option value="Wellington">Wellington</option>
  </select>
</form>
<button id="submit" type="submit">Submit</button>

<div id="border"></div>

<div id="image-header-wrapper">
    <div id="image-header-one">
      <img src="../styles/pink_sunset.jpg" alt="Pink and Purple sunset" width="450px" width="270px" >
      <div class="image-header-heading"> Pink and Purple Sunset</div>
      <div class="image-header-story">Pie wafer topping chocolate cake. Brownie sweet sugar plum sugar plum tootsie roll jelly beans. Oat cake toffee lollipop tiramisu cotton candy fruitcake icing icing. Candy canes pudding sugar plum fruitcake caramels tart tiramisu jelly danish. Carrot cake soufflé tootsie roll muffin cheesecake. Chocolate oat cake danish soufflé.</div>
      <a href="https://wallpapercave.com/w/AUCdJPq">Go to the sunset</a>
    </div>
    <div id="image-header-two">
      <img src="../styles/sublime_trees.jpg" alt="Sublime Trees" width="450px" width="270px">
      <div class="image-header-heading"> Sublime Trees</div>
      <div class="image-header-story">Pie wafer topping chocolate cake. Brownie sweet sugar plum sugar plum tootsie roll jelly beans. Oat cake toffee lollipop tiramisu cotton candy fruitcake icing icing. Candy canes pudding sugar plum fruitcake caramels tart tiramisu jelly danish. Carrot cake soufflé tootsie roll muffin cheesecake. Chocolate oat cake danish soufflé.</div>
      <a href="https://photodune.net/item/palm-trees-and-colorful-sunset-antigua/21228482">View some more</a>
    </div>
    </div>
</div>
</body>
